* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: auto-fit; */
  grid-auto-rows: minmax(50px, auto);
  gap: 2px;
  grid-template-areas: 
    "head head head head"
    "nav nav nav nav"
    "main main main main"
    "... footer footer footer";
}

header {
  /* max-height: 25vh; */
}
main {
  grid-area: main;
  margin: 5px auto;
}

html {
  font-size: 1em; /*16px on most screens*/
  background-image: radial-gradient(circle at top center, #bee1e6 10%, #dfe7fd 90%);
}

nav {
  grid-area: nav;
  display: flex;
}

nav ul {
  flex-grow: 1; /*caution! this flex-grow is the flex-item property relative to the parent container, and not to be confused with itself being a flex container. In other words, 'nav ul' is a flex item with respect to 'nav', and a flex container with respect to 'nav ul div'*/
  display: flex;
  flex-direction: column;
  align-items: stretch; /*stretch is the default setting, so removing this shouldn't make any difference*/
  /* max-width: 750px; */
  /* min-height: 6vh; */
  padding: 0px;
  max-width: 1200px;
  margin: auto; /*centers vertically and horizontally, possible with flex */
}

nav ul div {
  width: 100%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 4px 12px;
  /* inset 0px 5px 3px 3px #eae4e9; */
  background: linear-gradient(to left, #f0efeb, #fad2e1, #f0efeb);
  background-repeat: no-repeat;
  margin: 2px auto;  
}

nav ul li {
  max-width: 800px;
  list-style-type: none; /* to remove bullet points */
  font-family: 'Gluten', cursive;
  font-size: 2rem;
  text-shadow: -3px 3px 3px #f0efeb;
  /* border: solid red 3px; */
  text-align: center;
}

#quote, #quote2 {
  font-family: 'Parisienne', cursive;
  color:#3c096c;
  font-size: 2.0rem;
  text-align: center;
}
#quote em, #quote2 em {
  font-size:1.25rem;
  font-weight: bold;
  color: #f391b5;
}

#quote {
  display: none;
}
#quote2 {
  display: inherit;
}


img {
  width: 100%;
  max-width: 500px; /* the width and max-width will take the smaller of image actual size that can fit on screen or 600px.*/
  /*height: auto;*/  /* height:auto is the default. Just declaring for clrity. If height is a value other than auto, the image may be out of proportion. */
  border-radius: 10px; /* adds a curved edge to the pictures */
  box-shadow: 2px 1px 3px 3px rgba(0, 0, 0, 0.25);
  /*display: block; /* the display block declaration allows the image to be centered */
  /* margin: 0px auto; */
}


figcaption {
  position: absolute;
  width: 45%;
  top: 20px;
  background-color: rgba(197, 207, 0, 0.3);
  font-family: 'Gluten', cursive;
  font-size: 1.75rem;
  font-weight: bold;
  color: #3c096c;
}
#about {
  display:block;
  width: 1000px;
  height: 1000px;
  background-image: url(../images/IMG_20210105_194935.jpg);
  background-size: cover;
  background-blend-mode: exclusion;
}



footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: 5px;
}

ul {
  padding: 0;
}

header {
  grid-area: head;
}


a:link,
a:visited {
  text-decoration: none; /* removes the ugly underline when indicating the hyperlink */
  font-style: normal;
  color: #774936;
}

a:hover,
a:focus {
  color: #c9184a;
  text-shadow: 3px 3px 10px #0a3b2c; /*iterate 3 times to embolden the effect. probably a better way to do this though*/
}

a:focus {
  outline: 0;  /* had to add this outline declaration because it was doing something weird, like indicating a solid border, even though i had it dotted*/
  border-style: dotte       d;
}

h1 {
  letter-spacing: 0.05em;
}
h1 em {
  letter-spacing: 0.25em;
}
h1, h1 em {
  color: #3c096c;
  font-size: 3rem;
  font-family: 'Lobster Two', cursive, georgia, serif;
  text-align: center;
  text-shadow: 1px 2px 3px rgb(0,10,30,.5);
}


/** 
** MEDIA QUERIES 
**/

@media screen and (min-width: 560px) {

  header {
    max-height: inherit;
  }
  nav {
    display: flex; /*this is to align the content centered vertically, it won't matter with the narrow width*/
    box-shadow: rgba(0, 0, 0, 0.075) 0px 4px 12px;
    /* inset 0px 5px 3px 3px #eae4e9; */
    background: linear-gradient(to left, #f0efeb, #fad2e1, #f0efeb);
    background-repeat: no-repeat;
    max-height: 80px;
  }
  
  nav ul {
    flex-direction: row;
    flex: 100%;
    padding: 0;
  }
  
  nav ul div {
    box-shadow: none;
    background: none;
    background-repeat: none;
  }

  #quote {
    display: inherit;
  }
  #quote2 {
    display: none;
  }
}

/*header {
      /* background-image: url(../images/IMG_20210105_194935.jpg); */
      /* background-blend-mode: multiply; 
}*/

/*  template for heading
h3 {
 font-family: georgia,serif;
 color: #755c44;
 font-size: 20px;
 letter-spacing: 0.1em;
 line-height: 1.5em;
 text-transform: uppercase;
 margin: 10px;
 }

h3 em{
 color:#8F7C47;
 letter-spacing:0.05em;
 text-transform:none;
 font-size:20px;
 } */

 /*#aesthetic1 {
  color: #bee1e6;
  /* background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}*/